---
import { Image } from "astro:assets";
import cssLogo from "../img/CSSDAY-logo.svg";
---

<p-slide class="cover">
  <h1>Less build, more runtime: The modern CSS approach to Design Systems</h1>
  <Image
    src={cssLogo}
    alt="CSSDAY logo"
    class="alter-image-size"
    style="--image-start-size: 1.6em;margin-block-start: 3rem;box-shadow: inset 0 0 0 1000px #ffffff;border-radius: 1rem;"
  />
  <p-note class="center bottom-fist-page text-sub-section">
    <span>Marco Pollacci</span>
    <span>18/06/2026 - Bologna</span>
  </p-note>
</p-slide>
