<p-slide class="cover-internal">
  <h4>There was a time...</h4>
</p-slide>
<p-slide>
  <pre
    class="small-line"
    data-label-file="variables.scss">
 <code is:raw style="font-size: .8em" class="language-scss"> 
    [data-theme="light"]{
    --primary-100:#eef2ff; --primary-200:#dbeafe; /* ... */ --primary-900:#1e3a8a;
    --primary-500-hover:#2563eb;
    --primary-500-active:#1d4ed8;
    --primary-500-disabled:#93c5fd;
    }

    /* DARK */
    [data-theme="dark"]{
    --primary-100:#0b1220; --primary-200:#0f1b33; /* ... */ --primary-900:#93c5fd;
    --primary-500-hover:#3b82f6;
    --primary-500-active:#2563eb;
    --primary-500-disabled:#1e3a8a;

    }
    /* ... */
  </code>
</pre>
</p-slide>
