[p-effect~="highlight"] {
  border-radius: 0.25em;
  filter: contrast(1.5);

  &[p-effect~="red"] {
    --effect-color: #985158;
  }
}

[p-effect~="dim"] {
  opacity: calc(1 - (1 - var(--dim-value, 0.3)) * var(--fragment-progress));
}

[p-effect~="snatch"] {
  filter: brightness(
    calc(1 + (var(--brightness-value, 0.5) * var(--fragment-progress)))
  );
  translate: calc(
      var(--from-x, 0) +
        ((var(--to-x, 0) - var(--from-x, 0)) * var(--fragment-progress))
    )
    calc(
      var(--from-y, 0) +
        ((var(--to-y, 0) - var(--from-y, 0)) * var(--fragment-progress))
    );
  position: absolute;
  inset: 0 auto auto 0;

  &:is(pre) {
    margin-block: 0.5em;
    padding-block: 0 !important;
  }
}

[p-effect~="insert"] {
  &[aria-hidden="true"] {
    padding-block: 0 !important;
  }
}

code[p-effect~="highlight"] {
  background: linear-gradient(
      color-mix(
        in srgb,
        var(--ending-point-gradient, oklch(0.6 0.1 80deg)),
        transparent var(--highlight-transparency, 85%)
      )
    )
    0 / calc(100% * var(--fragment-progress)) auto no-repeat;
  filter: none;
  &[aria-hidden="false"] {
    margin: 0.25em;
    border: 1px solid var(--ending-point-gradient);
  }
}
